.header {
  color: white;
  min-height: 100vh;
  background-image: url("../../assets/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.content_top {
@apply pt-4 grid grid-cols-3 items-center
}

.content__bot{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 329px;
}
