.categories_and_sort {
  padding-top: 200px;
  padding-bottom: 50px;
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content:space-between;
  z-index: 1;
}

.itemsBlock {
  padding: 0 50px 25px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  z-index: 1;
}

