
*,:before,:after {
    box-sizing: border-box;
}
.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: auto;
}
body{
    font-weight: 300;
<<<<<<< HEAD
    font-family: Raleway sans-serif;
    min-height: 100%;
=======
    font-family: "Work+Sans" ;

}
img{
    display: inline-block;
>>>>>>> d0a30a4 (сделал каталог)
}
a{
    cursor: pointer;
}
<<<<<<< HEAD
img{
    max-width: 100%;
    max-height: 100%;

}
=======

>>>>>>> d0a30a4 (сделал каталог)
html{
    min-height: 100%;
}

.swiper-button-next:after {
color: white;
}
.swiper-button-prev:after {
    color: white;
}


